body {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

header {

    color: rgb(182, 17, 182);
    padding: 20px;
    text-align: center;
    font-size: larger;
    font-style: italic;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 600px;
}
.header-content img {
    height: 100px;
    width: auto;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 120px;
}

nav ul li {
    display: inline;
    text-decoration: none;
    color: rgb(167, 10, 167);
    font-weight: bold;
}

.banner {
    background: linear-gradient(to right, #ff00d4, #00ddff,purple);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
}

h3,h1{
    line-height: 0px;
    font-size: 200%
}

main {
   
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.section1 {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    background: linear-gradient(to bottom right,#ff00d4, #00ddff,purple);
}
.section2 {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    background: linear-gradient(to bottom right ,#ff00d4, #00ddff,purple);
}
.section3 {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    background: linear-gradient(to bottom right ,#ff00d4, #00ddff,purple);
}

.news-events ul, .quick-tips ul {
    list-style-type: disc;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form select {
    margin-bottom: 5px;
}

h2 {
    
    color:white;
    border-bottom: 5px solid #ddd;
    padding-bottom: 20px;
}
.black{
    color: white;
}

